ul {
  list-style: none; }

/* nav bar*/
.navbar {
  background-color: white; }

.nav-link:hover {
  color: black; }

#Logo__Nav {
  min-width: 70px;
  max-width: 90px; }

/* Main Index */
#imagen__index {
  background-image: url(../Imagenes/Estudio1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 90px;
  min-height: 500px; }

h1 {
  color: white;
  font-size: 110px;
  text-align: center; }

#P__index {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 50px; }

.Mision {
  padding: 50px;
  margin: 20px;
  font-size: 45px; }

.Vision {
  font-size: 45px; }

.Introduccion__index {
  justify-content: space-around; }

.Borde__index {
  margin: 20px;
  padding: 20px; }

.Imagen__Index {
  height: 250px;
  width: 325px; }

.h2__Index {
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif; }

.P__Index {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

/*Area Contable*/
.Main_Contable, .Main_Juridico, .Main_Previsional {
  background-color: cornsilk; }

#imagen__AreaContable {
  background-image: url(../Imagenes/Area_Contable.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 90px;
  min-height: 500px; }

.Contenedor_Responsables, .Contenedor_Sueldos, .Contenedor_Empleados, .Contenedor_Facturacion, .Contenedor_Monotributista, .Contenedor_Impuestos, .Contenedor_Sucesiones, .Contenedor_Transito, .Contenedor_Laboral, .Contenedor_Contratos, .Contenedor_Sociedades, .Contenedor_Divorcio {
  height: 200px;
  border: solid;
  border-radius: 5%;
  margin: 30px;
  padding: 15px;
  background-color: whitesmoke; }

.H3_Contable {
  text-align: center;
  color: goldenrod;
  margin: 5px;
  padding: 5px; }

.P_Contable {
  text-align: center;
  margin: 5px;
  padding: 5px; }

/* Area Juridica*/
#imagen__AreaJuridica {
  background-image: url(../Imagenes/Area_Jurudica.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 90px;
  min-height: 500px; }

/* Previsional */
#imagen__Previsional {
  background-image: url(../Imagenes/Area_Previsional.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 90px;
  min-height: 500px; }

/* Contacto*/
.Formulario__contacto {
  justify-content: center;
  padding-top: 130px;
  margin-left: 48%;
  width: 550px; }

.Main_Contacto {
  background-image: url(../Imagenes/FormularioContacto.jpg);
  height: 1000px; }

/* footer */
.footer {
  background-color: black;
  height: 200px; }

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  text-align: center; }

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background-color: #333;
  color: white;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.redes-container ul:hover a {
  filter: blur(2px); }

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none; }

.redes-container ul li .facebook:hover {
  background-color: #3b5998; }

.redes-container ul li .instagram:hover {
  background-color: #2A5B83; }

.redes-container ul li .email:hover {
  background-color: #C30907; }

.redes-container ul li .whatapp:hover {
  background-color: #128c7e; }

.Direccion {
  text-align: center;
  color: white; }

@media (max-width: 800px) {
  .navbar {
    max-width: 91%; }
  h1 {
    font-size: 30px;
    text-align: center; }
  #P__index {
    font-size: 20px;
    color: black; }
  #imagen__index {
    max-width: 91%; }
  .Mision {
    font-size: 30px;
    width: 91%;
    padding: 0px;
    margin: 0px; }
  .Vision {
    font-size: 30px;
    width: 91%;
    padding: 0px;
    margin: 0px; }
  .Main_Contacto {
    background-color: blanchedalmond;
    background-image: none;
    max-height: 700px; }
  .Formulario__contacto {
    height: auto;
    width: 100%;
    margin: 0; }
  .Imagen_Mision {
    width: 91%; }
  .Imagen_Vision {
    width: 91%; }
  .Introduccion__index {
    padding: 0px;
    margin: 0px;
    width: 100%; }
  .Imagen_Introduccion {
    max-width: 100%; }
  .footer {
    max-width: 91%; } }
